<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/static/assets/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#C9257B" />
		<meta name="description" content="Progressive Enhancement To Do List" />
		<title>Progressive Enhancement ToDo List</title>
		<link rel="stylesheet" href="/static/styles/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
		<script type="application/javascript" src="/static/scripts/main.js" async></script>
	</head>
	<body>
		<main>
			{{{body}}}
		</main>
	</body>
</html>
